<?xml version="1.0"?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>

	<appSettings>
		<!-- To enable internal log4net logging specify the following appSettings key -->
		<!-- <add key="log4net.Internal.Debug" value="true"/> -->
	</appSettings>

	<!-- This section contains the log4net configuration settings -->
	<log4net>
		<!-- Define some output appenders -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="rolling-log.txt"/>
			<appendToFile value="true"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="100"/>
			<rollingStyle value="Date"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]
"/>
				<footer value="[Footer]
"/>
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
			</layout>
		</appender>

		<appender name="RemotingAppender" type="log4net.Appender.RemotingAppender">
			<!--The remoting URL to the remoting server object-->
			<sink value="tcp://localhost:7070/LoggingSink"/>
			<!--Send all events, do not discard events when the buffer is full-->
			<lossy value="false"/>
			<!--The number of events to buffer before sending-->
			<bufferSize value="1"/>
			<!--Specify an evaluator to send the events immediatly under
			certain conditions, e.g. when an error event ocurrs-->
			<evaluator type="log4net.Core.LevelEvaluator">
				<threshold value="ERROR"/>
			</evaluator>
		</appender>

		<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
			<remoteAddress value="remstation"/>
			<remotePort value="7071"/>
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
		</appender>

		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="log-file.txt"/>
			<appendToFile value="true"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
		</appender>

    <appender name="MsmqAppender" type="SampleAppendersApp.Appender.MsmqAppender, Test">
      <queueName value=".\Private$\log-test"/>
      <labelLayout value="LOG [%level] %date"/>
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j"/>
    </appender>

		<!-- Setup the root category, add the appenders and set the default level -->
		<root>
			<level value="DEBUG"/>
			<!--<appender-ref ref="RollingLogFileAppender" />-->
			<appender-ref ref="RemotingAppender"/>
			<!--<appender-ref ref="UdpAppender" />-->
			<!--<appender-ref ref="FileAppender" />-->
      <!--<appender-ref ref="MsmqAppender" />-->
		</root>
	</log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
